<div class="container mt-5">
  <div>
    <h1>{{course?.name}}</h1>
    <p class="lead">{{course?.description}}</p>

    <div class="row">
      <div *ngFor="let module of course?.modules" class="col-sm-12 mb-4">
          <div class="card">
            <div class="card-header">
                {{module?.date| date: 'dd/MM/yyyy'}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{module?.name}}</h5>
              <p class="card-text">{{module?.description}}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-6" *ngIf="module?.hasFileAttachment">
                      <div class="col-sm-12 text-center mb-2">
                          <span class="card-text mr-2">Załącznik: </span>
                        </div>
                        <div class="col-sm-12 text-center">
                          <a class="btn btn-primary mr-3 mb-2" style="color:aliceblue" 
                            href="{{baseStaticFilesUrl}}uploads/modules/module_{{module?.id}}.zip" download>
                              Pobierz załącznik
                          </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6" *ngIf="!module?.hasFileAttachment">
                        <div class="col-sm-12 text-center mb-2">
                          <span class="card-text mr-2">Brak załączników </span>
                        </div>
                      </div>
                    <div class="col-sm-12 col-md-6" *ngIf="module?.hasAssignment">
                      <div class="col-sm-12 text-center mb-2">
                        <span class="card-text mr-2">Zadanie: <strong>{{module?.assignmentName}}</strong></span>
                  </div>
                  <div class="col-sm-12 text-center">
                      <a class="btn btn-success mr-3 mb-2" style="color:aliceblue" 
                      href="{{baseStaticFilesUrl}}">
                        Wyślij rozwiązanie
                    </a>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="!module?.hasAssignment">
                  <div class="col-sm-12 text-center mb-2">
                    <span class="card-text mr-2">Brak zadania do tego modułu</span>
                  </div>
                  <div class="col-sm-12 text-center">

                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>