<div class="container mt-5">
  <div>
    <h1>{{course?.name}}</h1>
    <p class="lead">{{course?.description}}</p>

    <div class="row">
      <div *ngFor="let module of course?.modules" class="col-sm-12 mb-4">
          <div class="card">
            <div class="card-header">
                {{module?.date| date: 'dd/MM/yyyy'}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{module?.name}}</h5>
              <p class="card-text">{{module?.description}}</p>
            </div>
            <div class="card-footer">
              <div *ngIf="module?.hasFileAttachment">
                <div class="col-sm-12 text-center mb-2">
                    <span class="card-text mr-2">Załączniki: </span>
                  </div>
                  <div class="col-sm-12 text-center">
                    <a class="btn btn-primary mr-3 mb-2" style="color:aliceblue" 
                      href="{{baseStaticFilesUrl}}uploads/modules/module_{{module?.id}}.zip" download>
                        Pobierz załącznik
                    </a>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>