<div class="container mt-5">
  <div>
    <h1>{{course?.name}}</h1>
    <p class="lead">{{course?.description}}</p>

    <div class="row">
      <div *ngFor="let module of course?.modules" class="col-sm-12 mb-4">
          <div class="card">
            <div class="card-header">
                {{module?.date| date: 'dd/MM/yyyy'}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{module?.name}}</h5>
              <p class="card-text">{{module?.description}}</p>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-12 col-md-6" *ngIf="module?.hasFileAttachment">
                  <div class="col-sm-12 text-center mb-2">
                      <span class="card-text mr-2">Załącznik: </span>
                    </div>
                    <div class="col-sm-12 text-center">
                      <a class="btn btn-primary mr-3 mb-2" style="color:aliceblue" 
                        href="{{baseStaticFilesUrl}}uploads/modules/module_{{module?.id}}.zip" download>
                          Pobierz załącznik
                      </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="!module?.hasFileAttachment">
                  <div class="col-sm-12 text-center mb-2">
                    <span class="card-text mr-2">Brak załączników </span>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="module?.hasAssignment">
                  <div class="col-sm-12 text-center mb-2">
                    <span class="card-text mr-2">Zadanie: <strong>{{module?.assignmentName}}</strong></span>
                  </div>
                  <div *ngIf="showGrade(module?.id, studentId)" class="col-sm-12 text-center">
                    Otrzymana ocena: 
                    <strong *ngIf="assignments[getIndexOfGrade(module?.id, studentId)].grade > 0">{{assignments[getIndexOfGrade(module?.id, studentId)].grade}}</strong>
                    <strong *ngIf="!(assignments[getIndexOfGrade(module?.id, studentId)].grade > 0)">Brak oceny</strong>
                  </div>
                  <div *ngIf="assignmentSent(module?.id)" class="col-sm-12 text-center">
                    <a class="btn btn-primary mr-3 mt-2 mb-2" style="color:aliceblue" 
                      href="{{baseStaticFilesUrl}}uploads/assignments/module_{{module?.id}}_student_{{studentId}}.zip" download>
                        Pobierz swoje rozwiązanie
                    </a>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6" *ngIf="!module?.hasAssignment">
                  <div class="col-sm-12 text-center mb-2">
                    <span class="card-text mr-2">Brak zadania do tego modułu</span>
                  </div>
                  <div class="col-sm-12 text-center">

                  </div>
                </div>
                <div *ngIf="module?.hasAssignment" class="col-sm-12 mt-2 text-center">
                  <form>
                    <h4 *ngIf="assignmentSent(module?.id)" class="text-center text-primary">Wyślij rozwiązanie (poprzednie zostanie usunięte):</h4>
                    <h4 *ngIf="!assignmentSent(module?.id)" class="text-center text-primary">Wyślij rozwiązanie:</h4>

                    <hr>
                
                    <div class="form-group">
                      <label for="assignmentFile">Wybierz plik (.zip):</label>
                      <input #assignmentFile type="file" name="assignmentFile" class="form-control" required accept=".zip" />
                    </div>
                
                    <div class="form-group text-center">
                      <button class="btn btn-success mr-2" type="button" (click)="uploadAssignment(assignmentFile.files, module)">Wyślij plik</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>