<div class="container mt-5">
  <h2>Panel administracyjny</h2>
  <div class="tab-panel">
    <tabset class="user-tabset">
      <tab  *appHasRole="['Administrator']" heading="Zarządzanie kursami (Administrator)">
        <div class="container">
            <app-course-management></app-course-management>
        </div>
      </tab>
      <tab *appHasRole="['Administrator']" heading="Zarządzanie uprawnieniami">
        <div class="container">
            <app-user-management></app-user-management>
        </div>
      </tab>
      <tab *appHasRole="['Instructor']" heading="Zarządzanie kursami (Instruktor)">
        <div class="container">
          <div class="container mt-5">
            <app-instructor-course-management-list></app-instructor-course-management-list>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>